*{
    background-color: #191825  ;
}

form{
    width: 500px;
    height:300px;
    display: flex; 
    margin-top: 100px;
    flex-direction: column; 
    margin-left: 300px;
    padding: 10px; /* Space inside the box */
    border-radius: 8px; /* Slightly rounded corners for the box */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    background-color:#FCFFB2  ;


}
h1{
     background-color:#FCFFB2  ;
     margin-left:180px;

}
input{
    margin-top: 20px;
    color: black;
    background-color: white;
}
button{
    background-color: silver;
    margin-right: 10px;
    padding:8px;
     margin-top: 20px;
}
