*{
    background-color: #191825  ;
}
h1{
    margin-left: 110px;
}
form{
    width: 500px;
    display: flex; 
    flex-direction: column; 
    margin-left: 300px;
    padding: 10px; /* Space inside the box */
    border-radius: 8px; /* Slightly rounded corners for the box */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  
}

input,textarea{
    color: black;
    background-color: white;
}
button{
    background-color: silver;
    margin-right: 10px;
    padding:8px;
}

.gender,.job_type,.country,form,h1{
     background-color:#FCFFB2  ;
}
select,option{
    color:black;
    background-color: white;
}
